<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
  <div class="app-dashboard shrink-medium">
    <div class="grid-x expanded app-dashboard-top-nav-bar ">
      <div class="columns medium-2 ">
        <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
        <div class="app-dashboard-logo">Brazilian Bakery Cafe</div>
      </div>
      <div class="columns medium-9 show-for-medium"></div>
      <div class="columns shrink app-dashboard-top-bar-actions">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="button hollow" id="logout">logout</button>
        <!-- Render script for logged in users only -->
        <script src="/js/logout.js"></script>
        {{else}}
        <a href="/login">
          <button class="button hollow">login</button></a>
        {{/if}}
      </div>
    </div>

    <div class="app-dashboard-body off-canvas-wrapper">
      <div id="app-dashboard-sidebar"
        class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
        <div class="app-dashboard-sidebar-title-area">
          <div class="app-dashboard-close-sidebar">
            {{!-- <h3 class="app-dashboard-sidebar-block-title">Items</h3> --}}
            <!-- Close button -->
            <button id="close-sidebar" data-app-dashboard-toggle-shrink
              class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
              <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
            </button>
          </div>
          <div class="app-dashboard-open-sidebar">
            <button id="open-sidebar" data-app-dashboard-toggle-shrink
              class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
              <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
            </button>
          </div>
        </div>
        <div class="app-dashboard-sidebar-inner">
          <ul class="menu vertical">
            <li><a href="/" class="is-active">
                <i class="large fa fa-institution"></i><span class="app-dashboard-sidebar-text">Dashboard</span>
              </a></li>
            <li><a href="/customers">
                <i class="large fa fa-hourglass"></i><span class="app-dashboard-sidebar-text">Customers</span>
              </a></li>
            <li><a href="/orders">
                <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Orders</span>
              </a></li>
            <li><a href="/calander" class="is-active">
                <i class="large fa fa-institution"></i><span class="app-dashboard-sidebar-text">Calander</span>
              </a></li>
            <li><a href="/reports">
                <i class="large fa fa-hourglass"></i><span class="app-dashboard-sidebar-text">Reports</span>
              </a></li>
            <li><a href="/products">
                <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Products</span>
              </a></li>
              <li><a href="/new-employee">
                <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Add Employee</span>
              </a></li>
          </ul>
        </div>
      </div>

      <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
        {{{body}}}
      </div>
    </div>
  </div>


  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="btn btn-primary" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->

  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
    integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
  <script src="/js/dashboard.js"></script>


</body>

</html>