<section class="container">
 
<div class="text-center">
  <h2>{{customer.firstName}}</h2>
  <p>{{{customer.lastName}}}</p>
  <p>{{customer.phoneNumber}}</p>
  <p>Created by {{customer.email}}</p>

 
</div>
</section>